*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
.btn-cintainer{
    display: flex;
    width: 100vw;
    justify-content: center;
}
.btn{
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.red{
    background-color: red; 
}
.yellow{
    background-color: yellow; 
}
.green{
    background-color: green; 
}
.purple{
    background-color: purple; 
}
.flip{
    background-color: white; 
}
  .deep {
    background-color: red;
  }
  